body {
    background-color: #343434;
    color: #fff;
    text-align: center;
}

.div-1 {
    background-color: orange;
    color: black;
}

.div-2 {
    background-color: lawngreen;
    color: purple;
}